@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Plus+Jakarta+Sans&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: #e4ebe3;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

a{
    font-size: 14px;
    text-decoration: none;
    color: black;
    opacity: .8;
}

nav ul li {
    list-style: none;
    margin-right: 40px;
}

nav {
    max-width: 1200px;
    margin: 50px auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h3{
    font-family: 'Fuzzy Bubbles', cursive;
    color: #59b98c;
    font-size: 2.5rem;
    cursor: pointer;
}

nav .nav-menu{
    display: flex;
}

.active a{
    padding-bottom: 3px;
    border-bottom: 3px solid #59b98c;
    color: #031a0f;
    opacity: 1;
    font-weight: bold;
}

nav .nav-menu a:hover{
    padding-bottom: 3px;
    border-bottom: 1px solid #59b98c;
}

nav .lang-careers{
    display: flex;
    justify-content: space-between;
    width: 15%;
}

.lang a i{
    color: #59b98c;
    opacity: 1;
}

.careers a{
    border: 1px solid #59b98c;
    border-radius: 5px;
    padding: 10px 15px;
}

.careers a:hover{
    background: rgba(255, 255, 255, 0.2);
}

header .container{
    height: 65vh;
    overflow: hidden;
    max-width: 1050px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

header .container img{
    width: 50%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 5px 3px 10px #59b98c;
}

.header-text h1{
    font-size: 2.5rem;
    color: #1c424f;
    font-weight: bold;
    margin-bottom: 30px;
    line-height: 1.3;
}

.header-text p{
    font-size: 16px;
    color: black;
    opacity: .8;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 30px;
}

.header-text a{
    background: #59b98c;
    font-size: 20px;
    color: #fff;
    padding: 10px 15px;
    font-weight: 400;
}

.middle {
    margin: 80px 0 0 0;
    background: #1c424f;
    position: relative;
    height: 200px;
}

article .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 0 auto;
    max-width: 1050px;
    height: 100%;
}

.middle > i {
    font-size: 10rem;
    color: #59b98c;
    opacity: .2;
    position: absolute;
    top: 30px;
    left: -90px;
}

.middle-text h3{
    font-family: 'Fuzzy Bubbles', cursive;
    color: #59b98c;
    font-size: 2.5rem;
}

.middle-text h2{
    color: #fff;
    font-size: 2.5rem;
    margin-bottom: 5px;
}

.middle-text p{
    color: #cae2c7;
    font-size: 1.2rem;
}

.middle a{
    background: #59b98c;
    font-size: 20px;
    color: #fff;
    padding: 10px 15px;
    font-weight: 200;
}

.middle-pictures{
    background: #f9f9f9;
    padding: 100px 0;
}

.middle-pictures .container{
    padding: 20px;
    max-width: 1200px;
    height: 400px;
    overflow: hidden;
    margin: 0px auto;
    display: flex;
    gap: 20px;
}

.middle-pictures .box{
    width: 33%;
    height: 250px;
}

.middle-pictures img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.middle-pictures p{
    font-size: 1.2rem;
    color: #1c424f;
    font-weight: bold;
    margin: 15px 0;
    line-height: 1.3;
    opacity: .9;
}

.world-image-section{
    text-align: center;
    /* height: 80vh; */
}

.world-image-section h3{
    font-size: 2.5rem;
    color: #1c424f;
    font-weight: bold;
    margin: 0;
}

.world-image-section img{
    height: 80%;
    object-fit: fill;
    max-width: 1200px;
    margin: 0;
}
